.tabs .indicator {
    background-color: orange;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

body {
    padding-top: 100px;
    /*    background-color: #f2f2f2; */
}

.ic-menu {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#ic-bolos {
    background-image: url(../img/icon-menu/cake.png);
}

#ic-pizzas {
    background-image: url(../img/icon-menu/pizza-4.png);
}

#ic-salgados {
    background-image: url(../img/icon-menu/hamburguer-1.png);
}

#ic-bebidas {
    background-image: url(../img/icon-menu/can.png);
}

.ic-add {
    background-image: url(../img/icon-menu/add.png);
    border-radius: 50%;
}

.ic-delete {
    background-image: url(../img/icon-menu/delete.png);
    border-radius: 50%;
}

#ic-ingredients {
    background-image: url(../img/icon-menu/ingredients.png);
    background-position: left;
    display: inline-block;
}

.ic-controls {
    margin: 10px;
}

.titulo-submenu {
    font-family: 'Galada', cursive;
}

.item {
    background-color: rgba(0, 0, 0, 0.85);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 10px;
    height: 100%;
}

#preco-produto {
    padding-bottom: 10px;
    display: inline-block;
}

#nome-produto {
    font-family: 'Indie Flower', cursive;
    color: #ff6d00;
    padding-bottom: 4%;
    display: inline-block;
}

.chip-nome {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: black;
    color: #ff6d00;
    opacity: 0.8;
}

.div-container {
    background-color: white;
    display: inline-block;
    padding: 2%;
    width: 35%;
    /*border-radius: 15px;*/
    border-right-style: solid;
    border-color: orange;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}